body{
    background: url('images/card_list_background.jpg') no-repeat center center fixed;
    color: white;
    font-family: Futura;
}

div.card-item{
    background: #222121c4;
    height: max-content;
    width: 65%;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #272424;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: all .2s ease-in-out; 
}

div.card-item:hover{
    transform: scale(1.05); 
    box-shadow: 5px 5px 5px #272424;
}

div.card-name{
    font-size: 27px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 2px;
    width: 50%;
    display: inline-block;
}

div.card-quantity{
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    display: inline-block;
    margin-left: 25%;
}

div.card-effect{
    font-size: 18px;
    padding-left: 15%;
    width: 45%;
    position: relative;
    top: -45px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: inline-block;
}

div.card-picture{
    width: 20%;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block
}

div.card-badges{
    display: inline-block;
    margin-left: 50%;
    margin-top: 0px;
    padding-top: 0px;
}

div.foil-badge{
    display: inline-block;
    color: white;
    text-align: center;
    height: 15px;
    width: 30px;
    border-radius: 15% 15%;
    border: 2px solid black;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    margin-top: 15px;
    margin-right: 8px;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

div.indeck-badge{
    display: inline-block;
    text-align: center;
    color: white;
    border: 2px solid black;
    height: 15px;
    width: 30px;
    border-radius: 15% 15%;
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 20px;
    background: rgb(180, 179, 209);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

div.condition-badge{
    display: inline-block;
    text-align: center;
    color: white;
    height: 15px;
    width: 30px;
    margin-top: 15px;
    border-radius: 15% 15%;
    border: 2px solid black;
    position: relative;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(17,201,7,1) 44%, rgba(9,37,3,1) 100%);
}

div.card-price{
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    margin-left: 25px;
}