{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{result.name}}</title>
    <link rel="stylesheet" href="{% static 'card_list/style.css' %}">
</head>
<body>
    <h1 style="font-size: 45px">Search Result</h1>

    
    <a href="">Go Back</a>
    {% for result in results %}
    <div class="card-item">
        <div class="card-name">{{result.name}}</div>
        <div class="card-quantity">Quantity: {{result.quantity}}</div>
        <div class="card-picture"><img src="{{result.card_pic.url}}" height= "200px"width= "150px"alt="{{result.name}}"></div>
        <div class="card-effect">{{result.effect}}</div>
        <div class="card-badges">
            {% if result.foil %}
                <div class="foil-display">
                    <img class="foil-icon"src="{% static 'card_list/images/foil-stars.png' %}" alt="foil-icon">
                    <p class="hide">Foil</p>
                </div>                    
            {% endif %}

            {% if result.in_deck%}
            <div class="foil-display">
                <img class="foil-icon"src="{% static 'card_list/images/Indeck.png' %}" alt="foil-icon">
                <p class="hide">In-Deck</p>
            </div> 
            {% endif %}
            <div class="foil-display">
                <img class="foil-icon"src="{% static 'card_list/images/near-mint.png' %}" alt="foil-icon">
                <p class="hide">NM</p>
            </div>
        </div>            
        
        <div class="card-price">Price: {{result.price}} USD</div>
    </div>
    {% endfor %}
</body>
</html>