{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card List</title>
    <link rel="stylesheet" href="{% static 'card_list/style.css' %}">
</head>
<body>
    <h1 style="font-size: 45px">MTG Card Collection</h1>
    <form action="{% url 'card_search' %}" method="POST">
        {% csrf_token %} 
        <input type="text" name="name" placeholder="Search card by name">
        <input type="submit" name="submit" value="Search">
    </form>
    {% for card in cards%}
        <div class="card-item">
            <div class="card-name">{{card.name}}</div>
            <div class="card-quantity">Quantity: {{card.quantity}}</div>
            <div class="card-picture"><img src="{{card.card_pic.url}}" height= "220px"width= "170px"alt="{{card.name}}"></div>
            <div class="card-effect">{{card.effect}}</div>
            <div class="card-badges">
                {% if card.foil %}
                    <div class="foil-display">
                        <img class="foil-icon"src="{% static 'card_list/images/foil-stars.png' %}" alt="foil-icon">
                        <p class="hide">Foil</p>
                    </div>                    
                {% endif %}

                {% if card.in_deck%}
                <div class="foil-display">
                    <img class="foil-icon"src="{% static 'card_list/images/Indeck.png' %}" alt="foil-icon">
                    <p class="hide">In-Deck</p>
                </div> 
                {% endif %}
                <div class="foil-display">
                    <img class="foil-icon"src="{% static 'card_list/images/near-mint.png' %}" alt="foil-icon">
                    <p class="hide">NM</p>
                </div>
            </div>            
            
            <div class="card-price">Price: {{card.price}} USD</div>
        </div>
        
    {% endfor %}
</body>
</html>