{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card List</title>
    <link rel="stylesheet" href="{% static 'card_list/style.css' %}">
</head>
<body>
    <h1>MTG Card Collection</h1>
    <input type="text" id="fname" name="fname" value="Search...">
    {% for card in cards%}
        <div class="card-item">
            <div class="card-name">{{card.name}}</div>
            <div class="card-quantity">Quantity: {{card.quantity}}</div>
            <div class="card-picture"><img src="{{card.card_pic.url}}" alt="{{card.name}}"></div>
            <div class="card-effect">{{card.effect}}
                <br>
                {% if card.foil %}
                <div class="foil-badge">F</div>
                {% if card.in_deck%}
                    <div class="indeck-badge">InD</div>
                {% endif %}
                {% endif %}
            <div class="condition-badge">{{card.card_condition}}</div>
            </div>            
            
            <div class="card-price">Price: ${{card.price}} USD</div>
        </div>
        
    {% endfor %}
</body>
</html>