{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search results</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    

    <div class="header">

        <h1>Search Result(s)</h1>

        <section class="layout">
            <div class="grow1">
                <a href="{% url 'index' %}">All cards</a> 
            </div>
            <div class="grow1">
                <a href="{% url 'home' %}">Search</a> 
            </div>
          </section>

    </div>
    
    <button onClick="topFunction()" id="myBtn">Top</button>    
    {% for result in results.qs %}
    <div class="card-item">
        <div class="card-name">{{result.name}}</div>
        <div class="card-quantity">Quantity: {{result.quantity}}</div>
        <div class="card-picture"><img src="{{result.card_pic.url}}" height= "220px"width= "170px"alt="{{result.name}}"></div>
        <div class="card-effect">{{result.effect}}</div>
        <div class="card-badges">
            {% if result.foil %}
                <div class="foil-display">
                    <img class="foil-icon"src="{% static 'images/foil-stars.png' %}" alt="foil-icon">
                    <p class="hide">Foil</p>
                </div>                    
            {% endif %}

            {% if result.in_deck%}
            <div class="foil-display">
                <img class="foil-icon"src="{% static 'images/Indeck.png' %}" alt="foil-icon">
                <p class="hide">In-Deck</p>
            </div> 
            {% endif %}
            <div class="foil-display">
                <img class="foil-icon"src="{% static 'images/near-mint.png' %}" alt="foil-icon">
                <p class="hide">NM</p>
            </div>
        </div>            
        
        <div class="card-price">Price: {{result.price}} USD</div>
    </div>
    {% endfor %}
    {% block scripts %}
    <script src="{% static 'js/scrollTop.js' %}"></script>
    {% endblock %} 
</body>
</html>