{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>MTG Collection</title>
</head>

<body>

    <div class="header">

        <h1>MTG Collection</h1>

        <section class="layout">
            <div class="grow1">
                <a href="{% url 'index' %}">All cards</a> 
            </div>
            <div class="grow1">
                <a href="{% url 'home' %}">Search</a> 
            </div>
          </section>

    </div>
    
    <div class="search-box">
        <h2>Card Search</h2>
        
            <form action="{% url 'card_search' %}" method="get">
                <div class="info-box"> {{ results.form.as_p }}</div>          
                <input class="submit-button" type="submit" value="Search">
            </form>
        
        
    </div>   
</body>
</html>